{% extends '/association/baseAssociation.html.twig' %}
 {% block body %}  

    {% block stylesheets %}

    <style>
    table.dataTable td{
        padding: 15px 8px;
    }
    .fontawesome-icons .the-icon svg {
        font-size: 24px;
    }
</style>
        {% endblock %}

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Réservations En cours de traitement</h3>
                        </div>
                        
                    </div>
                </div>
            
                <!-- Basic Tables start -->
                <section class="section">
                    <div class="card">
                    
                        <div class="card-body">
                            <table id="dataTable3" class="text-center">
								<thead class="text-capitalize">
									<tr>
										<th>Domination Pro</th>
										<th>Email du pro</th>
										<th>Avancement</th>
										<th>date du réservation</th>
										<th>telephone</th>
										<th>Action</th>

									</tr>
								</thead>
								<tbody>
                                    {% for reservation in reservations %}
                                        {% if reservation.client == user %}
                                            {% if reservation.avancement == "En cours de traitement" %}
                                                <tr>
                                                    <td>{{reservation.ads.user.domination}}</td>
                                                    <td>{{reservation.ads.user.email}}</td>
                                                    <td>{{reservation.avancement}}</td>
                                                    <td>
                                                
                                                        {% if reservation.deteheure|date( 'j/m/Y à  H:i') == "1/01/2020 à  10:00" %}
                                                            Reservation direct
                                                        {% else %}
                                                            {{reservation.deteheure|date( 'j/m/Y à  H:i')}}
                                                        {% endif %}
                                                        
                                                    </td>
                                                    <td>{{reservation.ads.user.mobile}}</td>
                                                    <td >
                                                            {# <a href="/professionnel/detailCommande"></a> #}
                                                            {# <a class="btn btn-success" href="/professionnel/{{reservation.id}}/valideCommande">Valider</a>
                                                            <a class="btn btn-danger" href="/professionnel/{{reservation.id}}/motifRefusCommande">Refuser</a> #}
                                                    </td>

                                                </tr>
                                            {% endif %}
                                            
                                            
                                        {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Réservations Valider</h3>
                        </div>
                        
                    </div>
                </div>
                </section>
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <table id="dataTable2" class="text-center">
								<thead class="text-capitalize">
									<tr>
                                        <th>Domination Pro</th>
                                        <th>Email du pro</th>
                                        <th>Avancement</th>
                                        <th>date du réservation</th>
                                        <th>telephone</th>
                                        <th>Action</th>

									</tr>
								</thead>
								<tbody>
                                    {% for reservation in reservations %}
                                        {% if reservation.client == user %}
                                            {% if reservation.avancement == "Valider" %}
                                                <tr>
                                                    <td>{{reservation.ads.user.domination}}</td>
                                                    <td>{{reservation.ads.user.email}}</td>
                                                    <td>{{reservation.ads.titre}}</td>
                                                        <td>
                                                    
                                                            {% if reservation.deteheure|date( 'j/m/Y à  H:i') == "1/01/2020 à  10:00" %}
                                                                Reservation direct
                                                            {% else %}
                                                                {{reservation.deteheure|date( 'j/m/Y à  H:i')}}
                                                            {% endif %}
                                                            
                                                        </td>
                                                    <td>{{reservation.ads.user.mobile}}</td>
                                                    <td >
                                                            {# <a href="/professionnel/detailCommande"></a> #}
                                                            {# <a class="btn btn-success" href="/professionnel/{{reservation.id}}/valideCommande">Valider</a>
                                                            <a class="btn btn-danger" href="/professionnel/{{reservation.id}}/motifRefusCommande">Refuser</a> #}
                                                    </td>

                                                </tr>
                                            {% endif %}
                                            
                                            
                                        {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
            
                </section>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Réservations Servie</h3>
                        </div>
                        
                    </div>
                </div>
                </section>
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <table id="dataTable1" class="text-center">
								<thead class="text-capitalize">
									<tr>
                                        <th>Domination Pro</th>
                                        <th>Email du pro</th>
                                        <th>Avancement</th>
                                        <th>date du réservation</th>
                                        <th>telephone</th>
                                        <th>Action</th>

									</tr>
								</thead>
								<tbody>
                                    {% for reservation in reservations %}
                                        {% if reservation.client == user %}
                                        {% if reservation.avancement == "Servie" and reservation.isPret == 1 %}
                                        <tr>
                                                    <td>{{reservation.ads.user.domination}}</td>
                                                    <td>{{reservation.ads.user.email}}</td>
                                                    <td>{{reservation.ads.titre}}</td>
                                                        <td>
                                                    
                                                            {% if reservation.deteheure|date( 'j/m/Y à  H:i') == "1/01/2020 à  10:00" %}
                                                                Reservation direct
                                                            {% else %}
                                                                {{reservation.deteheure|date( 'j/m/Y à  H:i')}}
                                                            {% endif %}
                                                            
                                                        </td>
                                                    <td>{{reservation.ads.user.mobile}}</td>
                                                    <td >
                                                            {# <a href="/professionnel/detailCommande"></a> #}
                                                            {# <a class="btn btn-success" href="/professionnel/{{reservation.id}}/valideCommande">Valider</a>
                                                            <a class="btn btn-danger" href="/professionnel/{{reservation.id}}/motifRefusCommande">Refuser</a> #}
                                                    </td>

                                                </tr>
                                            {% endif %}
                                            
                                            
                                        {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
            
                </section>
                <!-- Basic Tables end -->
            </div>
           
                    </div>
                </div>
                 {% endblock %}
                {% block javascripts %}
            <script src="{{asset("professionnel/assets/vendors/jquery/jquery.min.js")}}"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
            <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
            <script src="{{asset("professionnel/assets/vendors/fontawesome/all.min.js")}}"></script>
            <script>
				$(document).ready( function() {
			$( '#dataTable3' ).dataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				},
				rowReorder: {
				selector: 'td:nth-child(2)'
				},
        		responsive: true,
				"bSort": false,
				"bDestroy": true
			} );
            
			} );
            	$(document).ready( function() {
			$( '#dataTable2' ).dataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				},
				rowReorder: {
				selector: 'td:nth-child(2)'
				},
        		responsive: true,
				"bSort": false,
				"bDestroy": true
			} );
            
			} );
            	$(document).ready( function() {
			$( '#dataTable1' ).dataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				},
				rowReorder: {
				selector: 'td:nth-child(2)'
				},
        		responsive: true,
				"bSort": false,
				"bDestroy": true
			} );
            
			} );

				</script>
                

        {% endblock %}
            





