{% extends '/professionnel/baseProfessionnel.html.twig' %}
 {% block body %}  
            
<div class="page-heading">
    <h3>Ajout Produit </h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 ">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                                        
                            {{ form_start(form,{attr:{class:"form form-horizontal"}}) }} 
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Titre<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    {{ form_row(form.titre,{attr:{class:"form-control"}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <label>Prix<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    {{ form_row(form.prix,{attr:{class:"form-control"}}) }}
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-4">
                                            <label class="form-label">Categirie <span class="text-danger">*</span></label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group has-icon-left">
                                                <div class="position-relative">
                                                    {{ form_row(form.categorie,{attr:{class:"form-select"}}) }}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="form-label">Description <span class="text-danger">*</span></label>
                                        </div>
                                            <div class="col-md-8">
                                                <div class="form-group with-title mb-3">
                                                    {{ form_row(form.description,{attr:{class:"form-control"}}) }}
                                                    <label>Descriptez vos produit</label>
                                                </div>
                                            </div>
                                        
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                            <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}