{% extends '/professionnel/baseProfessionnel.html.twig' %}
 {% block body %}  

    {% block stylesheets %}

    <style>
    table.dataTable td{
        padding: 15px 8px;
    }
    .fontawesome-icons .the-icon svg {
        font-size: 24px;
    }
</style>
        {% endblock %}

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Réservations En cours de traitement</h3>
                        </div>
                        
                        
                    </div>
                </div>
            
                <!-- Basic Tables start -->
                <section class="section">
                    <div class="card">
                    <div class="d-flex justify-content-center card-header">
                        <a class="btn btn-info" href="/professionnel/autreReservation">Ajout Réservation manuelle</a>
                    </div>
                        <div class="card-body">
                            <table id="dataTable3" class="text-center">
								<thead class="text-capitalize">
									<tr>
										<th>Nom du client</th>
										<th>Email du client</th>
										<th>Produit acheté</th>
                                        <th>Quantité</th>  
										<th>date du réservation</th>
										<th>telephone</th>
										<th>Action</th>

									</tr>
								</thead>
								<tbody>
                                    {% for reservation in reservations %}
                                        {% if reservation.ads.user == user %}
                                            {% if reservation.avancement == "En cours de traitement" %}
                                                <tr>
                                                    <td>
                                                        {% if app.user == reservation.client %}
                                                        reservation par autre moyen
                                                    {% else %}
                                                        {% if reservation.client.firstname %}
                                                             {{reservation.client.firstname ~' '~ reservation.client.lastname|upper}}
                                                        {% else %}
                                                             {{'Organisme : '~reservation.client.domination|upper}}
                                                        {% endif %}
                                                    {% endif %}

                                                        
                                                        
                                                    </td>
                                                    <td>
                                                    {% if app.user == reservation.client %}
                                                        reservation par autre moyen
                                                    {% else %}
                                                        {{reservation.client.email}}
                                                    {% endif %}
                                                    </td>
                                                    <td>{{reservation.ads.titre}}</td>
                                                        {% if reservation.ads.titre == "Reservation" %}
                                                    <th>{{reservation.qte}}</th>
                                                        {% else %}
                                                    <th>1</th>  
                                                    {% endif %}
                                                    <td>{{reservation.deteheure|date( 'j/m/Y à  H:i')}}</td>
                                                    <td>
                                                        {% if app.user == reservation.client %}
                                                        reservation par autre moyen
                                                    {% else %}
                                                        {{reservation.client.mobile}}
                                                    {% endif %}
                                                    </td>
                                                    <td >
                                                            <a class="btn btn-primary" href="/professionnel/detailReservation/{{reservation.id}}">Detail</a>
                                                            <a class="btn btn-success" href="/professionnel/{{reservation.id}}/valideCommande">Valider</a>
                                                            <a class="btn btn-danger" href="/professionnel/{{reservation.id}}/motifRefusCommande">Refuser</a>
                                                    </td>

                                                </tr>
                                            {% endif %}
                                            
                                            
                                        {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Réservations Valider</h3>
                        </div>
                        
                    </div>
                </div>
                </section>
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <table id="dataTable2" class="text-center">
								<thead class="text-capitalize">
									<tr>
										<th>Nom du client</th>
										<th>Email du client</th>
										<th>Produit acheté</th>
                                        <th>Quantité</th>
										<th>date du réservation</th>
										<th>telephone</th>
										<th>Action</th>

									</tr>
								</thead>
								<tbody>
                                    {% for reservation in reservations %}
                                       {% if reservation.ads.user == user %}
                                            {% if reservation.avancement == "Valider" %}
                                            <tr>
                                                <td>
                                                    {% if app.user == reservation.client %}
                                                    reservation par autre moyen
                                                {% else %}
                                                    {% if reservation.client.firstname %}
                                                         {{reservation.client.firstname ~' '~ reservation.client.lastname|upper}}
                                                    {% else %}
                                                         {{'Organisme : '~reservation.client.domination|upper}}
                                                    {% endif %}
                                                {% endif %}

                                                    
                                                    
                                                </td>
                                                <td>
                                                {% if app.user == reservation.client %}
                                                    reservation par autre moyen
                                                {% else %}
                                                    {{reservation.client.email}}
                                                {% endif %}
                                                </td>
                                                <td>{{reservation.ads.titre}}</td>
                                                    {% if reservation.ads.titre == "Reservation" %}
                                                <th>{{reservation.qte}}</th>
                                                    {% else %}
                                                <th>1</th>  
                                                {% endif %}
                                                <td>{{reservation.deteheure|date( 'j/m/Y à  H:i')}}</td>
                                                <td>
                                                    {% if app.user == reservation.client %}
                                                    reservation par autre moyen
                                                {% else %}
                                                    {{reservation.client.mobile}}
                                                {% endif %}
                                                </td>
                                                    <td >
                                                            <a class="btn btn-success" href="/professionnel/{{reservation.id}}/commandeServie">Servire</a>
                                                        <a class="btn btn-primary" href="/professionnel/detailReservation/{{reservation.id}}">Detail</a>
                                                    </td>

                                                </tr>
                                            {% endif %}
                                            
                                            
                                        {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
            
                </section>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Réservations Servie</h3>
                        </div>
                        
                    </div>
                </div>
                </section>
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <table id="dataTable1" class="text-center">
								<thead class="text-capitalize">
									<tr>
										<th>Nom du client</th>
										<th>Email du client</th>
										<th>Produit acheté</th>
                                        <th>Quantité</th>
										<th>date du réservation</th>
										<th>telephone</th>
										<th>Action</th>

									</tr>
								</thead>
								<tbody>
                                    {% for reservation in reservations %}
                                       {% if reservation.ads.user == user %}
                                            {% if reservation.avancement == "Servie" and reservation.isPret == 1 %}
                                            <tr>
                                                <td>
                                                    {% if app.user == reservation.client %}
                                                    reservation par autre moyen
                                                {% else %}
                                                    {% if reservation.client.firstname %}
                                                         {{reservation.client.firstname ~' '~ reservation.client.lastname|upper}}
                                                    {% else %}
                                                         {{'Organisme : '~reservation.client.domination|upper}}
                                                    {% endif %}
                                                {% endif %}

                                                    
                                                    
                                                </td>
                                                <td>
                                                {% if app.user == reservation.client %}
                                                    reservation par autre moyen
                                                {% else %}
                                                    {{reservation.client.email}}
                                                {% endif %}
                                                </td>
                                                <td>{{reservation.ads.titre}}</td>
                                                    {% if reservation.ads.titre == "Reservation" %}
                                                <th>{{reservation.qte}}</th>
                                                    {% else %}
                                                <th>1</th>  
                                                {% endif %}
                                                <td>{{reservation.deteheure|date( 'j/m/Y à  H:i')}}</td>
                                                <td>
                                                    {% if app.user == reservation.client %}
                                                    reservation par autre moyen
                                                {% else %}
                                                    {{reservation.client.mobile}}
                                                {% endif %}
                                                </td>
                                                    <td >
                                                            {# <a href="/professionnel/detailCommande"><i  class="bi bi-eye icons"></i></a> #}
                                                        <a class="btn btn-primary" href="/professionnel/detailReservation/{{reservation.id}}">Detail</a>
                                                    {# <a href="/professionnel/motifRefusCommande"><i  class="bi bi-trash icons"></i></a> #}
                                                    </td>

                                                </tr>
                                            {% endif %}
                                            
                                            
                                        {% endif %}
                                    {% endfor %}
								</tbody>
							</table>
                        </div>
                    </div>
            
                </section>
                <!-- Basic Tables end -->
            </div>
           
                    </div>
                </div>
                 {% endblock %}
                {% block javascripts %}
            <script src="assets/vendors/jquery/jquery.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
            <script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
            <script src="assets/vendors/fontawesome/all.min.js"></script>
            <script>
				$(document).ready( function() {
			$( '#dataTable3' ).dataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				},
				rowReorder: {
				selector: 'td:nth-child(2)'
				},
        		responsive: true,
				"bSort": false,
				"bDestroy": true
			} );
            
			} );
            	$(document).ready( function() {
			$( '#dataTable2' ).dataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				},
				rowReorder: {
				selector: 'td:nth-child(2)'
				},
        		responsive: true,
				"bSort": false,
				"bDestroy": true
			} );
            
			} );
            	$(document).ready( function() {
			$( '#dataTable1' ).dataTable( {
				"language": {
					"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
				},
				rowReorder: {
				selector: 'td:nth-child(2)'
				},
        		responsive: true,
				"bSort": false,
				"bDestroy": true
			} );
            
			} );

				</script>
                <script>
                    var date = new Date();
                    document.getElementById("copyright").innerHTML= date.getFullYear();
                </script>

        {% endblock %}
            





