{% extends 'base.html.twig' %}
{% block body %}
  
    <section class="bg-half-170 d-table w-100">
        <div class="container">
            <div class="row mt-5 align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="title-heading me-lg-4">
                        <h1 class="heading mb-3">Peace., our solidarity platform<span class="text-primary"> for
                                non-profits</span> </h1>
                        <p class="para-desc text-muted">The easiest way to help NGOs & non-profits around the world
                        </p>
                        <div class="mt-4">
                            <a onclick="bottomFunction()" class="btn btn-primary mt-2 me-2"><i
                                    class="uil uil-envelope"></i> Contact us</a>
                            <!-- Comment start
                            <a href="documentation.html" class="btn btn-outline-primary mt-2"><i
                                    class="uil uil-book-alt"></i> Documentation</a>
                            Comment end -->
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0">
                    <img src="{{asset("client/assets/images/illustrator/onboarding-animate.svg")}}" alt="">
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- Partners start -->
    <section class="py-4 border-bottom border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                    <img src="{{asset("client/assets/img/logo/logo_cci_grey.webp")}}" height="45" alt="">
                </div>
                <!--end col-->

                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                    <img src="{{asset("client/assets/img/logo/logo_entrepreneurleader_grey.webp")}}" height="45" alt="">
                </div>
                <!--end col-->

                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                    <img src="{{asset("client/assets/img/logo/logo_laruche_grey.webp")}}" height="45" alt="">
                </div>
                <!--end col-->

                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                    <img src="{{asset("client/assets/img/logo/logo_anggels_grey.webp")}}" height="45" alt="">
                </div>
                <!--end col-->

                <!-- Comment start
                <div class="col-lg-2 col-md-2 col-6 text-center py-4">
                    <img src="{{asset("client/assets/img/logo/logo_eedf_grey.webp")}}" height="55" alt="">
                </div>
                <!- -end col- ->
                Comment end -->

            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Partners End -->

    <!-- How It Work Start -->
    <section class="section bg-light border-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">How Does It Work?</h4>
                        <p class="text-muted para-desc mb-0 mx-auto">We designed our <span
                                class="text-primary fw-bold">platform</span> so that you can easily start to help causes
                            that matter the most to you.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 mt-4 pt-2">
                    <img src="{{asset("client/assets/images/illustrator/good-team-animate.svg")}}" alt="">
                </div>
                <!--end col-->

                <div class="col-lg-7 col-md-6 mt-4 pt-2">
                    <div class="section-title ms-lg-5">
                        <h4 class="title mb-4">We gather a solidarity community to help non-profits</h4>
                        <p class="text-muted">You can give the time you want to NGOs, non-profits (can be 1/2 hour per
                            week/month/year...)</p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-0"><span class="text-primary h5 me-2"><i
                                        class="uil uil-check-circle align-middle"></i></span>You decide exactly on the
                                time you want to give</li>
                            <li class="mb-0"><span class="text-primary h5 me-2"><i
                                        class="uil uil-check-circle align-middle"></i></span>You help the causes &
                                non-pofits which matter to you</li>
                        </ul>
                        <a href="javascript:void(0)" onclick="bottomFunction()" class="mt-3 h6 text-primary">Start
                            helping <i class="uil uil-angle-right-b align-middle"></i></a>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <div class="section-title me-lg-5">
                        <h4 class="title mb-4">You can fund solidarity actions for free</h4>
                        <p class="text-muted">Choose & book our socially engaged professionals (they help NGOs,
                            non-profits & donate part of their earnings)</p>
                        <ul class="list-unstyled text-muted">
                            <li class="mb-0"><span class="text-primary h5 me-2"><i
                                        class="uil uil-check-circle align-middle"></i></span>They give some of their
                                time & donate part of their earnings from the platform</li>
                            <li class="mb-0"><span class="text-primary h5 me-2"><i
                                        class="uil uil-check-circle align-middle"></i></span>And they receive a tax
                                deduction with their donation (60% deduction in France)</li>
                        </ul>
                        <a href="javascript:void(0)" onclick="bottomFunction()" class="mt-3 h6 text-primary">Contact us
                            <i class="uil uil-angle-right-b"></i></a>
                    </div>
                </div>
                <!--end col-->

                <div class="col-lg-5 col-md-6 order-1 order-md-2">
                    <img src="{{asset("client/assets/images/illustrator/profile-interface-animate.svg")}}" class="img-fluid" alt="">
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- How It Work End -->

    <!-- How Do We Help Start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">How Do We <span class="text-primary">Help?</span></h4>
                        <p class="text-muted para-desc mx-auto mb-0">We present you some of our <span
                                class="text-primary fw-bold">use cases</span> and how we can help non-profits around the
                            world & near your home.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
            <div class="row">
                <div class="col-12 mt-4 pt-2">
                    <div class="tiny-four-item">
                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/right-4703944_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Legal assistance for
                                                people in need</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Elizabeth, as a lawyer, helps people in need
                                                through free-consulting in center Paris
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/computer-4560227_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Childhood
                                                Education</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">An Unicef school in Burkina Faso which gets
                                                courses and tutoring from visio-conference
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/barber-2165745_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Access to Care &
                                                Well-being for disadvantaged people</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Sabine’s solidarity hairdressing salon helps
                                                others in growing self-esteem and well-being in collaboration with
                                                non-profit
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/product-school-cd7i9vYIyeY-unsplash - landscape.jpg")}}" class="img-fluid"
                                    alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Helping reduce
                                                international conflicts</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Marc-Antoine (international mediator)
                                                participate during the year as speaker for non-profit focused on causes
                                                he cares about (developing countries…)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/thisisengineering-raeng-5W43yn8z2-A-unsplash - landscape.jpg")}}"
                                    class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Helping reduce
                                                international conflicts</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Audrey (conflict resolution specialist)
                                                participate online in conferences for non-profits needing her expertise
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/jeswin-thomas-IjYmtMogTlE-unsplash.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Childhood
                                                Education</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Nicolas is private tutor in Mathematics, he
                                                gives some courses & tutoring online to students in Burkina Faso (in
                                                collaboration with non-profit)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/gabin-vallet-32mEE18oGTs-unsplash - landscape.jpg")}}" class="img-fluid"
                                    alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Access to Care &
                                                Well-being for people in need</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Antoine is a sports coach, and spends some time
                                                organizing activities with people in distress in his neighborhood &
                                                online (with non-profit)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/christina-wocintechchat-com-LQ1t-8Ms5PY-unsplash.jpg")}}" class="img-fluid"
                                    alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Hearing & Caring for
                                                people in precarious situation</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Elizabeth (psychologist) spends
                                                some of her free time in hearing
                                                & helping residents of a social
                                                center near her home (which is
                                                meaningful to her)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/meeting-1245776_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Social
                                                entrepreneurship in developping countries</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Alexia is a design & communication freelance and
                                                helps a non-profit focused on entrepreneurship in developping countries,
                                                cause that
                                                matters to her (design visual, branding…)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/football-3451408_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Access to sport
                                                activities
                                                for a social center</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">David is a sports coach, and spends some time
                                                organizing activities with young residents of the neighborhood (with
                                                non-profit)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/mira-kireeva-xTq26wLo5do-unsplash.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Education for
                                                disadvantaged people</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Natasha (private tutor in French) enjoy spending
                                                some time giving lessons to disadvantaged people (helping them to
                                                discover a different culture…)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/volkan-vardar-1H30uRC1plc-unsplash - landscape.jpg")}}" class="img-fluid"
                                    alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Food Assistance</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Marc’s restaurant accept some people in
                                                difficulty each month, for them to enjoy a real diner (solidarity for
                                                impoverished people)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/woman-5804876_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Music for
                                                hospitalized patients</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Adeline is a music teacher, and enjoys giving
                                                some musical performances to hospitalized patients (which greatly
                                                improve their mood & health)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/bernie-almanzar-CUzEBQz4ThE-unsplash.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Access to leisure
                                                and culture for elderly & disabled people</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Alphonse (guide/lecturer) help non-profits by
                                                giving some lectures to elderly & disabled people.
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card categories overflow-hidden rounded shadow border-0">
                                <img src="{{asset("client/assets/img/beautician-5529805_1920.jpg")}}" class="img-fluid" alt="">
                                <div class="card-body">
                                    <ul class="list-unstyled d-flex justify-content-between mb-0">
                                        <li><a href="javascript:void(0)" class="title h6 text-dark">Access to Care &
                                                Well-being for victims of family violence</a>
                                        </li>
                                        <!--
                                        <li class="h6 mb-0 jobs">125 Jobs</li>
                                        -->
                                    </ul>
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item me-2 mb-0"><a href="javascript:void(0)"
                                                class="text-muted like">Morgane has her beauty salon, and give some time
                                                at the end of the day to abused person to listen & care (cause that
                                                matters to her)
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
    </section>
    <!--end sectipn-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- How Do We Help End -->

    <!-- Our Values Start -->
    <section class="section overflow-hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Our <span class="text-primary">Values</span></h4>
                        <p class="text-muted para-desc mx-auto mb-0">Our <span
                                class="text-primary fw-bold">mission</span> is to enable every person in difficulty to
                            gather with other people in order to improve life for them, for people around them and this
                            worldwide.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            <div class="row">
                <div class="col-md-4 col-12 mt-4 pt-2">
                    <div class="card text-center rounded border-0">
                        <div class="card-body">
                            <div class="p-3 bg-light rounded shadow d-inline-block">
                                <img src="{{asset("client/assets/images/icon/art-and-design.svg")}}" class="avatar avatar-small" alt="">
                            </div>
                            <div class="mt-4">
                                <h5><a href="javascript:void(0)" class="text-dark">Solidarity</a></h5>
                                <p class="text-muted mt-3 mb-0">Together, with a bit of help from everyone, we can as
                                    much cross mountains as help a poor person in need.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 col-12 mt-4 pt-2">
                    <div class="card text-center rounded border-0">
                        <div class="card-body">
                            <div class="p-3 bg-light rounded shadow d-inline-block">
                                <img src="{{asset("client/assets/images/icon/writing.svg")}}" class="avatar avatar-small" alt="">
                            </div>
                            <div class="mt-4">
                                <h5><a href="javascript:void(0)" class="text-dark">Benevolence</a></h5>
                                <p class="text-muted mt-3 mb-0">In what we do, we focus on the fact that every human
                                    being only seeks happiness and for everyone around to live a happy & fulfilled life.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->

                <div class="col-md-4 col-12 mt-4 pt-2">
                    <div class="card text-center rounded border-0">
                        <div class="card-body">
                            <div class="p-3 bg-light rounded shadow d-inline-block">
                                <img src="{{asset("client/assets/images/icon/clock.svg")}}" class="avatar avatar-small" alt="">
                            </div>
                            <div class="mt-4">
                                <h5><a href="javascript:void(0)" class="text-dark">Simplicity</a></h5>
                                <p class="text-muted mt-3 mb-0">We simplify everything we do in order to have the most
                                    impact.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Our Values End -->

    <!-- Pricing Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">Our <span class="text-primary">Pricing</span> Rates</h4>
                        <p class="text-muted para-desc mx-auto mb-0">You can pay a <span
                                class="text-primary fw-bold">subscription</span> to one of our plan, or you can start
                            helping for free (helping is always free).</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

            
            <div class="row align-items-center">
                <div class="col-12 mt-4 pt-2">
                    <!-- Comment start
                    <div class="text-center">
                        <ul class="nav nav-pills rounded-pill justify-content-center d-inline-block border py-1 px-2"
                            id="pills-tab" role="tablist">
                            <li class="nav-item d-inline-block">
                                <a class="nav-link px-3 rounded-pill monthly" id="Monthly" data-bs-toggle="pill"
                                    href="#Month" role="tab" aria-controls="Month" aria-selected="false">Monthly</a>
                            </li>
                            <li class="nav-item d-inline-block">
                                <a class="nav-link px-3 rounded-pill active yearly" id="Yearly" data-bs-toggle="pill"
                                    href="#Year" role="tab" aria-controls="Year" aria-selected="true">Yearly <span
                                        class="badge rounded-pill bg-success">10% Off </span></a>
                            </li>
                        </ul>
                    </div>
                    Comment end -->

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="Month" role="tabpanel" aria-labelledby="Monthly">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                    <div class="pricing-rates starter-plan shadow bg-white py-5 p-4 rounded">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Non-Profits</h6>

                                        <div class="d-flex">
                                            <span class="h5 mb-0">Starts at:</span>
                                        </div>

                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">€</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Access
                                                to the platform</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Unlimited
                                                contacts with Helpers</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"></li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get started</a>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                    <div class="pricing-rates starter-plan shadow bg-white py-5 p-4 rounded">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Professionals
                                        </h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">€</span>
                                            <span class="price h1 mb-0">95</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Access
                                                to the platform</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Manage
                                                reservation & disponibilities</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>25 €/mo
                                                given to our social and solidarity economy structure (as minimal
                                                subscription) / convert to 95 €/mo in case of reservation (as current month subscription)
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get Started</a>
                                    </div>
                                </div>
                                <!--end col-->

                                <!-- Comment start
                                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                    <div class="pricing-rates starter-plan shadow bg-white py-5 p-4 rounded">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Companies</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">€</span>
                                            <span class="price h1 mb-0">200</span>
                                            <span class="h4 align-self-end mb-1">/mo/place</span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Company/site
                                                profile
                                            </li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Access
                                                to the platform</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Manage
                                                reservation & disponibilities</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Social
                                                impact visibility</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>75 €/mo
                                                given to our social and solidarity economy structure (as minimal
                                                subscription) / convert to 200 €/mo in case of reservation (as current month subscription)
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get started</a>
                                    </div>
                                </div>
                                Comment end -->
                                <!--end col-->

                            </div>
                            <!--end row-->
                        </div>

                        <div class="tab-pane fade active show" id="Year" role="tabpanel" aria-labelledby="Yearly">
                            <div class="row">

                                <!-- Column added to center the pricing columns-->
                                <div class="col-lg-2 col-md-0 col-0 mt-4 pt-2">
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                    <div class="pricing-rates starter-plan shadow bg-white py-5 p-4 rounded">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Non-Profits</h6>

                                        <div class="d-flex">
                                            <span class="h5 mb-0">Starts at:</span>
                                        </div>

                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">€</span>
                                            <span class="price h1 mb-0">0</span>
                                            <span class="h4 align-self-end mb-1">/mo</span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Access
                                                to the platform</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Unlimited
                                                contacts with Helpers</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2">
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get started</a>
                                    </div>
                                </div>
                                <!--end col-->

                                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                    <div class="pricing-rates starter-plan shadow bg-white py-5 p-4 rounded">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Professionals
                                        </h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2"></span>
                                            <span class="price h1 mb-0">20</span>
                                            <span class="h4 mb-0 mt-2">%</span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Access
                                                to the platform</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Greet new customers
                                                    </li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Manage
                                                        reservation & disponibilities
                                            </li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2">
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get Started</a>
                                    </div>
                                </div>
                                <!--end col-->

                                <!-- Comment start
                                <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                                    <div class="pricing-rates starter-plan shadow bg-white py-5 p-4 rounded">
                                        <h6 class="title text-uppercase fw-bold text-primary mb-4">Companies</h6>
                                        <div class="d-flex mb-4">
                                            <span class="h4 mb-0 mt-2">€</span>
                                            <span class="price h1 mb-0">180</span>
                                            <span class="h4 align-self-end mb-1">/mo/place</span>
                                        </div>

                                        <ul class="list-unstyled mb-0 ps-0">
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Company/site
                                                profile
                                            </li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Access
                                                to the platform</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Manage
                                                reservation & disponibilities</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>Social
                                                impact visibility</li>
                                            <li class="text-muted mb-0"><span class="text-primary h5 me-2"><i
                                                        class="uil uil-check-circle align-middle"></i></span>65 €/mo
                                                given to our social and solidarity economy structure (as minimal
                                                subscription) / convert to 180 €/mo in case of reservation (as current month subscription)
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)" class="btn btn-primary mt-4">Get started</a>
                                    </div>
                                </div>
                                Comment end -->
                                <!--end col-->

                            </div>
                            <!--end row-->
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Comment start
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    Comment end -->
    <!-- Pricing End -->

    <!-- Customer Reviews Start -->
    <!-- Comment start
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">What Does <span class="text-primary">Our Partners</span> Say About Us?</h4>
                        <p class="text-muted para-desc mx-auto mb-0">Start working with <span
                                class="text-primary fw-bold">Landrick</span> that can provide everything you need to
                            generate awareness, drive traffic, connect.</p>
                    </div>
                </div>
                <!- -end col- ->
            </div>
            <!- -end row- ->
            <div class="row">
                <div class="col-12 mt-4 pt-2">
                    <div class="tiny-three-item">
                        <div class="tiny-slide">
                            <div class="card border-0 text-center">
                                <div class="card-body">
                                    <img src="images/client/01.jpg"
                                        class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                                    <p class="text-muted mt-4">" It seems that only fragments of the original text
                                        remain in the Lorem Ipsum texts used today. "</p>
                                    <h6 class="text-primary">- Thomas Israel</h6>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card border-0 text-center">
                                <div class="card-body">
                                    <img src="images/client/02.jpg"
                                        class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                                    <p class="text-muted mt-4">" The most well-known dummy text is the 'Lorem
                                        Ipsum',
                                        which is said to have originated in the 16th century. "</p>
                                    <h6 class="text-primary">- Carl Oliver</h6>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card border-0 text-center">
                                <div class="card-body">
                                    <img src="images/client/03.jpg"
                                        class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                                    <p class="text-muted mt-4">" One disadvantage of Lorum Ipsum is that in Latin
                                        certain letters appear more frequently than others. "</p>
                                    <h6 class="text-primary">- Barbara McIntosh</h6>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card border-0 text-center">
                                <div class="card-body">
                                    <img src="images/client/04.jpg"
                                        class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                                    <p class="text-muted mt-4">" Thus, Lorem Ipsum has only limited suitability as a
                                        visual filler for German texts. "</p>
                                    <h6 class="text-primary">- Jill Webb</h6>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card border-0 text-center">
                                <div class="card-body">
                                    <img src="images/client/05.jpg"
                                        class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                                    <p class="text-muted mt-4">" There is now an abundance of readable dummy texts.
                                        These are usually used when a text is required. "</p>
                                    <h6 class="text-primary">- Dean Tolle</h6>
                                </div>
                            </div>
                        </div>

                        <div class="tiny-slide">
                            <div class="card border-0 text-center">
                                <div class="card-body">
                                    <img src="images/client/06.jpg"
                                        class="img-fluid avatar avatar-small rounded-circle mx-auto shadow" alt="">
                                    <p class="text-muted mt-4">" According to most sources, Lorum Ipsum can be
                                        traced
                                        back to a text composed by Cicero. "</p>
                                    <h6 class="text-primary">- Christa Smith</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!- -end col- ->
            </div>
            <!- -end row- ->
        </div>
        <!- -end container- ->
    </section>
    <!- -end sectipn- ->
    <div class="position-relative">
        <div class="shape overflow-hidden text-light">
            <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M720 125L2160 0H2880V250H0V125H720Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    Comment end -->
    <!-- Customer Reviews End -->

    <!-- FAQ Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title mb-4 pb-2">
                        <h4 class="title mb-4">The most frequently asked <span class="text-primary">questions</span>
                        </h4>
                        <p class="text-muted para-desc mx-auto mb-0">Some precisions about how you can start <span
                                class="text-primary fw-bold">helping</span> easily causes important to you near your
                            home & around the world.</p>
                    </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div>
        <!--end container-->

        <div class="container mt-4 pt-2">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <img src="{{asset("client/assets/images/illustrator/faq.svg")}}" alt="">
                </div>
                <!--end col-->

                <div class="col-lg-7 col-md-6">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item rounded shadow">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button border-0 bg-light" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    For me, is it possible to only give help (without having professional services on
                                    the platform)?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse border-0 collapse show"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    Yes, you can create an account and find projects from non-profits around your home
                                    which you can start helping now.
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button border-0 bg-light collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Who gets the tax deduction when there is a donation?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse border-0 collapse"
                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    When you choose & book one of our socially engaged professionals, they receive a
                                    payment and donate part of their earnings to a non-profit.
                                    </br>
                                    The professionals receive in this case a tax deduction depending on their country of
                                    residence (in case they meet the conditions needed to be eligible for this tax
                                    deduction).
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button border-0 bg-light collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    How can I adhere as a non-profit (and be present on the platform)?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse border-0 collapse"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    You can adhere by <a href="javascript:void(0)" onclick="bottomFunction()"
                                        class="mt-3 h6 text-primary">contacting us</a>, we'll help you set-up the
                                    account and be part of the community :).
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item rounded shadow mt-2">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button border-0 bg-light collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    I am a professionnal. How can I start helping on the platform and present my
                                    services (funding solidarity actions)?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse border-0 collapse"
                                aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body text-muted bg-white">
                                    You can create your account directly on the platform.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end col-->

            </div>
            <!--end row-->
        </div>
        <!--end container-->
        <!-- FAQ End -->
        <!-- CTA Start -->
        <div class="container">
            <div class="row my-md-5 pt-md-3 my-4 pt-2 pb-lg-4 justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title mb-4">Start helping causes that matter to you</h4>
                        <p class="text-muted para-desc mx-auto mb-0">You can <span
                                class="text-primary fw-bold">contact us</span> now & start helping/receive support.</p>

                        <div class="mt-4">

                            <!-- Début de widget de lien Calendly -->
                            
                            <a href=""
                                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/benoit-barone/reunion-de-45-minutes-choix-lieu'});return false;"
                                class="btn btn-primary mt-2 me-2">Contact &amp; meet</a>
                            <!-- Fin de widget de lien Calendly -->

                            <!-- Comment start
                            <a href="javascript:void(0)" class="btn btn-outline-primary mt-2">Free Trial</a>
                            Comment end -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <!--end sectipn-->
    <!-- CTA End -->

    <!-- Footer Start -->
    
    <!--end footer-->
    <!-- Footer End -->



    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i
            data-feather="arrow-up" class="icons"></i></a>
    <!-- Back to top -->


{% endblock %}

{% block javascripts %}

{% endblock %}
