{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset("datePicker/jquery.datetimepicker.css") }}"/>    
{% endblock %}
{% block body %}

        <!-- Shape Start -->
        <div class="position-relative">
            <div class="shape overflow-hidden text-white">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
                </svg>
            </div>
        </div>
        <!--Shape End-->  
        
        <!-- Start Terms & Conditions -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="card shadow border-0 rounded">
                            <div  class="card-body">
                            {% form_theme formt 'bootstrap_4_layout.html.twig' %}
                               {{ form_start(formt) }} 
                                <div  class="accordion" id="buyingquestion" style="margin-bottom:4%">
                                    <div>
                                        <h5 class="card-title m-3">1 - Prestation sélectionnée :</h5>
                                    </div>
                                    
                                    <div  class="accordion-item rounded">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                {{ads.titre}}
                                                
                                            </button>
                                            
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse border-0 collapse " aria-labelledby="headingOne"
                                            data-bs-parent="#buyingquestion">
                                            <div class="accordion-body text-muted bg-white">
                                                <a href="/detailProduitClient/{{ads.user}}" class="btn btn-pills btn-primary">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top:4%; margin-bottom: 4%;">
                                        <!-- <h5 class="card-title">2: Date et heure de la Préstation</h5> -->
                                    </div>
                                    {% if ads.titre == "Réserver une table" %}
                                        <div  class="accordion-item rounded mt-2">

                                                <h2 class="accordion-header" id="headingTwo">
                                                    <h5 class="card-title">Nombre de place :</h5>
                                                </h2>
                                                {{ form_widget(formt.qte,{attr:{class:"form-select"}}) }}
                                                

                                            </div>
                                    {% else %}
                                    <div  class="accordion-item rounded mt-2 d-none">

                                        <h2 class="accordion-header" id="headingTwo">
                                            <h5 class="card-title">Nombre de place :</h5>
                                        </h2>
                                        {{ form_widget(formt.qte,{attr:{class:"form-select"}}) }}
                                        

                                    </div>
                                    {% endif %}
                                    
                                    
                                    
                                    <div  class="accordion-item rounded mt-2">

                                        <h2 class="accordion-header" id="headingTwo">
                                            <h5 class="card-title m-3">2 - Choisissez la date et l'heure du RDV :</h5>
                                        </h2>
                                    <div class="d-none">
                                        <h6 class="card-title">Vous voulez etre servie par :</h6>
                                        {{ form_widget(formt.calendar,{'id':'employer'}) }}
                                        
                                    </div>
                                        <button class="accordion-button border-0 bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                
                                                <input type="text" name="deteheure" id="datetimepicker3"/>
                                                {# <div id="result"></div> #}
                                                <div class="d-none">
                                                    {{ form_widget(formt.deteheure,{'id':'formdate'}) }}
                                                </div>
                                                 
                                                
                                            </button>
                                    </div>
                                    
        
                                   
                                </div>

                                <div class="row">   

                                <div class="col-12 mt-3">
                                
                                    {% if app.user %}
                                        {# <a href="/totalProduit" class="btn btn-primary mt-2 me-2">Réserver</a> #}
                                        <button type="submit" class="btn btn-primary">Réserver</button>
                                    {% else %}
                                        <a href="/login" class="btn btn-primary">Réserver</a>
                                    {% endif %}
                                    
                                    
                                    <a href="/detailProduitClient/{{ads.user}}" class="btn btn-outline-primary ms-2">Annuler</a>
                                </div>

                                </div>

                                {{ form_end(formt) }}
                                
                            </div>
                            

                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End Terms & Conditions -->

        <!-- Footer Start -->
        
        <!-- Footer End -->

        <!-- Offcanvas Start -->
        <div class="offcanvas offcanvas-end bg-white shadow" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header p-4 border-bottom">
                <h5 id="offcanvasRightLabel" class="mb-0">

                </h5>
                <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="uil uil-times fs-4"></i></button>
            </div>
            <div class="offcanvas-body p-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card border-0 mt-5" style="z-index: 1">
                            <div class="card-body p-0">
                                    <p id="error-msg" class="mb-0"></p>
                                    <div id="simple-msg"></div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Name <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="user" class="fea icon-sm icons"></i>
                                                    <input name="name" id="name" type="text" class="form-control ps-5" placeholder="Name :">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Your Email <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="mail" class="fea icon-sm icons"></i>
                                                    <input name="email" id="email" type="email" class="form-control ps-5" placeholder="Email :">
                                                </div>
                                            </div> 
                                        </div><!--end col-->
    
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Subject</label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="book" class="fea icon-sm icons"></i>
                                                    <input name="subject" id="subject" class="form-control ps-5" placeholder="subject :">
                                                </div>
                                            </div>
                                        </div><!--end col-->
    
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <label class="form-label">Comments <span class="text-danger">*</span></label>
                                                <div class="form-icon position-relative">
                                                    <i data-feather="message-circle" class="fea icon-sm icons clearfix"></i>
                                                    <textarea name="comments" id="comments" rows="4" class="form-control ps-5" placeholder="Message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" id="submit" name="send" class="btn btn-primary">Send Message</button>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>

            <div class="offcanvas-footer p-4 border-top text-center">
                <ul class="list-unstyled social-icon social mb-0">
                    <li class="list-inline-item mb-0"><a href="https://1.envato.market/4n73n" target="_blank" class="rounded"><i class="uil uil-shopping-cart align-middle" title="Buy Now"></i></a></li>
                    <li class="list-inline-item mb-0"><a href="https://dribbble.com/shreethemes" target="_blank" class="rounded"><i class="uil uil-dribbble align-middle" title="dribbble"></i></a></li>
                    <li class="list-inline-item mb-0"><a href="https://www.facebook.com/shreethemes" target="_blank" class="rounded"><i class="uil uil-facebook-f align-middle" title="facebook"></i></a></li>
                    <li class="list-inline-item mb-0"><a href="https://www.instagram.com/shreethemes/" target="_blank" class="rounded"><i class="uil uil-instagram align-middle" title="instagram"></i></a></li>
                    <li class="list-inline-item mb-0"><a href="https://twitter.com/shreethemes" target="_blank" class="rounded"><i class="uil uil-twitter align-middle" title="twitter"></i></a></li>
                    <li class="list-inline-item mb-0"><a href="mailto:support@shreethemes.in" class="rounded"><i class="uil uil-envelope align-middle" title="email"></i></a></li>
                    <li class="list-inline-item mb-0"><a href="https://shreethemes.in" target="_blank" class="rounded"><i class="uil uil-globe align-middle" title="website"></i></a></li>
                </ul><!--end icon-->
            </div>
        </div>
        <!-- Offcanvas End -->

        <!-- Back to top -->
        <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top fs-5"><i data-feather="arrow-up" class="fea icon-sm icons align-middle"></i></a>
        <!-- Back to top -->

      {% endblock %}
      {% block javascripts %}
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="{{ asset("datePicker/jquery.js") }}"></script>
    <script src="{{ asset("datePicker/node_modules/php-date-formatter/js/php-date-formatter.min.js") }}"></script>
    <script src="{{ asset("datePicker/node_modules/jquery-mousewheel/jquery.mousewheel.js") }}"></script>
    <script src="{{ asset("datePicker/jquery.datetimepicker.js") }}"></script>
      <script>
          var reservations = [];
          var horaires = new Array();
          var horaire = horaires;
          var calendars = [];
          var maxSupport = 1;
          var allReservations = new Array();
          var daysOn = [];
          var daysOff = new Array();
          var listHoursToShow = new Array();
          var calendarData;
          var reservationsData;
          
          fetch("/getCalendar/{{ ads.id }}").then(function (response) {
              console.log("in fetch");
              var today = new Date();
              response.json().then(function (data) {

                  calendarData = data.calendar;
                  reservationsData = data.reservations;
                  
                  // TODO: Didn't delete it in case necessary
                  <!-- $("#employer option").remove() -->

                  getCalendarData(today);
                  getReservationsData(today);
                  getDaysOff(today);

                  // We launch triDateDay for first time, wen screen appear
                  triDateDay(today);

                  // TODO: Didn't delete it in case necessary

                  $("#datetimepicker3").trigger('change');
  
              }).catch(function (err) {
                  console.log('Fetch Error :-S', err);
              });
  
          });

          
          // Function to get Calendar data from API
          function getCalendarData(date) {
              
              console.log("data:",calendarData);
          
              if (calendarData[0] != null){
                  calendarData.forEach(calendar => {
                  
                      // In this case, we only do if we are in "Magasin" categoy, and not in case of "Benevolat"
                      if (calendar.title == "Magasin") {
                          var startDateTime = new Date().setHours(new Date(calendar.start.date).getHours(), new Date(calendar.start.date).getMinutes(), 0, 0);
                          var endDateTime = new Date().setHours(new Date(calendar.end.date).getHours(), new Date(calendar.end.date).getMinutes(), 0, 0);
                          cursorDateTime = new Date(startDateTime);
                      
                          // We iterate to add all startTimes (for blocks to appear in UI)
                          while (cursorDateTime <= endDateTime) {

                              var object = new Object();
                              object.day = calendar.dayon;
                              object.time = JSON.parse(JSON.stringify(cursorDateTime));
                              object.maxSupport = calendar.maxSupport;
                              // We set numberReservations as 0, and we will increase it in future with each reservation.
                              // In order to check, later, if time should appear (= numberReservations < maxSupport)
                              object.numberReservations = 0;
                              // We add an item which keep in track if element should be displayed (= we will not show this time if numberReservations < maxSupport)
                              object.toBeDisplayed = 0;

                              horaires.push(object);
                              
                              cursorDateTime.setTime(cursorDateTime.getTime()+30*60000);
                          
                          }
                          
                      }
                      
                  });
              
              }
              else{
              $("#employer").append("<option value='1'>Magasin</option>");
              }
              
              console.log("getCalendarData " + JSON.stringify(horaires,null,2));
          
          }
          
          // Function to get Reservations data from API
          function getReservationsData(date) {
          
          console.log("data:",reservationsData);
              
                  reservationsData.forEach(function (reservation) { 

                      const object = new Object();
                      if(reservation.endDate != null) {

                        object.startDateTime = reservation.deteheure;
                        object.endDateTime = reservation.endDate;

                        if (reservation.qte != null) {
                            object.qte = reservation.qte;
                        } else {
                            object.qte = 1;
                        }

                        allReservations.push(object);

                      }

                  });
                  
                  console.info("getReservationsData " + JSON.stringify(allReservations,null,2));
          
          }
          
          // Function to get DaysOff data from API
          function getDaysOff(date) {
          
              if (calendarData[0] != null){
                      calendarData.forEach(calendar => {
                  
                      // In this case, we only do if we are in "Magasin" categoy, and not in case of "Benevolat"
                      if (calendar.title == "Magasin") {
                      
                          daysOn.push(parseInt(calendar.dayon));

                          console.log("calendar.dayon " + calendar.dayon);
                      
                      }
                      
                  });
              
              }
              
              // In order to remove duplicates

              uniqueDaysOn = [...new Set(daysOn)];

              console.log("daysOn " + daysOn);
              console.log("uniqueDaysOn " + uniqueDaysOn);
              
              daysOff = [parseInt(0),parseInt(1),parseInt(2),parseInt(3),parseInt(4),parseInt(5),parseInt(6)];
              
              // Get DaysOff by filtering out elements contained in uniqueDaysOn
              daysOff = daysOff.filter(x => !daysOn.includes(x));
              
              console.log("getDaysOff " + daysOff);
          
          
          }
  
  
          function recept(reponse) {
              calendar = response;
              console.log(calendar);
          }
          
          // This function is used in order to add 0 before the hour when the hour is a single digit.
          // Concatenating with '0' makes sure that the target of the operation will always be a string. ('0'+currentMinutes) will yield a 2 or 3 letter string ("07" or "017", for instance). Slicing the last two characters off that string will give you a 0-padded two-digit number.
          Number.prototype.addZero = function() {
             return ('0'+this).slice(-2);
          };
  
          function triDateDay(date) { // reservations[date]
          
              var day = date.getDay();
              
              // We use this method to gat horaires in horaire (get a copy), without deep link
              horaire = JSON.parse(JSON.stringify(horaires));
              
              // Each time we start triDateDay, we empty the existing hours array
              listHoursToShow = [];
              
              // Check if each time in horaires already has  reservations
              for (var i = 0; i < horaire.length; i++) {
              
                  if (horaire[i].day == day) {
                  
                      testStartTime = new Date(date).setHours(new Date(horaire[i].time).getHours(), new Date(horaire[i].time).getMinutes(), 0, 0);
                      testEndTime = new Date(date).setHours(new Date(horaire[i].time).getHours(), new Date(horaire[i].time).getMinutes()+30, 0, 0);
                      
                      console.log("testStartTime " + testStartTime);
                      console.log("testEndTime " + testEndTime);

                      // Check in reservations and increment numberReservations in horaire
                      for (var j = 0; j < allReservations.length; j++) {

                          console.log("new Date(allReservations[j].startDateTime.date) " + new Date(allReservations[j].startDateTime));
                          console.log("new Date(allReservations[j].endDateTime.date) " + new Date(allReservations[j].endDateTime));
                          console.log("horaire[i].numberReservations " + horaire[i].numberReservations);
                      
                          if (testStartTime < new Date(allReservations[j].endDateTime.date)
                          && testEndTime > new Date(allReservations[j].startDateTime.date)) {
                          
                              // In case verified, we increment by one
                              horaire[i].numberReservations = horaire[i].numberReservations+allReservations[j].qte;
                          
                          }

                          console.log("horaire[i].numberReservations " + horaire[i].numberReservations);
                      
                      }
                      
                  
                  }
              
              }
              
              
              // At the end of the loops, we check which hours in horaire we should keep (= where maxSupport limit is not exceeded)
              
              for (var k = 0; k < horaire.length; k++) {
              
                  if (horaire[k].day == day) {

                      console.log("new Date(horaire[k].time) " + new Date(horaire[k].time));
                      console.log("horaire[k].numberReservations " + horaire[k].numberReservations);
                      console.log("horaire[k].maxSupport " + horaire[k].maxSupport);
                  
                      if (horaire[k].numberReservations < horaire[k].maxSupport) {
                      
                          listHoursToShow.push(new Date(horaire[k].time).getHours().addZero() + ":" + new Date(horaire[k].time).getMinutes().addZero())
                      
                      }
                  
                  }
              
              }
              
              // We then filter out duplicates elements
              listHoursToShow = [...new Set(listHoursToShow)];

              console.log("daysOff " + daysOff);
              console.log("parseInt(new Date(date).getDay()) " + parseInt(new Date(date).getDay()));
              
              console.log("triDateDay " + JSON.stringify(listHoursToShow,null,2));
                  
              return listHoursToShow;

          }

      $.datetimepicker.setLocale('fr');
      $('#datetimepicker3').datetimepicker({
          inline: true,
          allowTimes: listHoursToShow,
          format: 'Y-m-d H:i',
          minTime: listHoursToShow[0],
          maxTime: listHoursToShow[listHoursToShow.length],
          disabledWeekDays: daysOff,
          minDate: new Date(),
      });
      
          $('#datetimepicker3').change(function () {
              $('#confirmDate').html(new Date($(this).val()).toLocaleString())
              console.log('this val 1' + $(this).val().toString());

              // We need to use minDateTime in order to hide timePicker part of the DateTimePIcker
              // in case the date is today (=we just opened the page reservaztion, so the date is by default today), and today is a dayOff
              // If not, the user can book a slot event if this is a dayOff
              console.log('This.date.val : ' + $(this).val().toString());
              if ($(this).val().toString()
              && !daysOff.includes(parseInt(new Date($(this).val()).getDay()))) {
            
                  console.log('Not empty : ' + $(this).val().toString());

                $(this).datetimepicker({
                    allowTimes: triDateDay(new Date($(this).val())),
                    minDate: new Date(),
                    minTime: listHoursToShow[0],
                    maxTime: listHoursToShow[listHoursToShow.length],
                    disabledWeekDays: daysOff,
                });
                }
              // In case there is no date, the current date selected is today,
              // So we check if today is a dayoff, we set time to 23h00, which means, there is no available slot to book (=end of the day)
              else if (daysOff.includes(parseInt(new Date().getDay()))) {

                  console.log('Empty + Today is dayoff : ' + $(this).val().toString());

                    $(this).datetimepicker({
                        minDate: new Date(),
                        minTime: new Date().setHours(23),
                        disabledWeekDays: daysOff,
                    });
              }
              else {

                  console.log('Empty + Today is not dayoff : ' + $(this).val().toString());

                  $(this).datetimepicker({
                  allowTimes: triDateDay(new Date()),
                  minDate: new Date(),
                    minTime: new Date(),
                  disabledWeekDays: daysOff,
              });
              }
              

          })

      </script>
      <script>
          $('#datetimepicker3').change(function () {
                console.log('this val',$(this).val())
                if($(this).val() != "2021-06-06 23:00:00")
                document.getElementById("bockReserver").style.display="contents";
      
            })
      </script>
    
    {% endblock %}